//colors
//scss里面可以定义变量,  从亮到暗定义颜色
$colors: (
        primary: #db913f,
        "info": #8c939d,
        "white": #fff,
        "light": #f9f9f9,
        "light-1": #d4d9de,
        "black": #000,
        "grey-1": #666,
        "dark-1": #343440,
        "dark": #222,
        "grey": #999,
);

$border-color: map-get($colors, 'light-1');

//font size 字体大小
$base-font-size: 1rem;
$font-sizes: (
        xxs: 0.7692, //10px
        sm: 0.9231, //12px
        md: 1, //13px
        lg: 1.0769, //14px
        xl: 1.2308  //16px
);

$flex-jc: (
        start: flex-start,
        end: flex-end,
        center: center,
        between: space-between,
        around: space-around,
);

$flex-ai: (
        start: flex-start,
        end: flex-end,
        center: center,
        stretch: stretch
);
$spacing-types: (m: margin, p: padding);
$spacing-directions: (t: top, r: right, b: bottom, l: left);
//定义基本尺寸
$spacing-base-size: 1rem;
$spacing-sizes: (
        0:0,
        1: 0.25,
        2: 0.5,
        3: 1.5,
        5: 3
);
